<!DOCTYPE html>
<html>
<head>
  <title>SalonreviewTesting</title>
  <%= stylesheet_link_tag    "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

  <Link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' />
  <![endif]-->
  <Script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></Script>

</head>
<body>
		<%= render 'layouts/nav' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
</body>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</html>
